{% extends 'main.html' %}
{% block content %}

    <div class="form-section">
        <div class="form-container w-form">
            <form method="post" class="form" action="{{ url_for('new_category') }}"
                      enctype="multipart/form-data">
                <h2 class="form-header">Lav ny kategori</h2>
                <h4 class="field-label required">Felter med * skal udfyldes</h4>
                <div class="form-row">
                    <label class="field-label" for="Input">Navn*</label>
                    <input autofocus="autofocus" class="text-field w-input" maxlength="256"
                           name="name" type="text" placeholder=''>
                </div>
                <div class="form-row">
                    <label class="field-label" for="Input">Beskrivelse*</label>
                    <input autofocus="autofocus"
                           class="text-field-area w-input" maxlength="256" name="description" type="text" placeholder=''>
                </div>

                {#
               I am for use with items only

               <div class="form-row">
                    <label class="field-label" for="Input">Butik id*</label><input autofocus="autofocus"
                                                                                      class="text-field w-input"
                                                                                      maxlength="256"
                                                                                      name="Butik Id"
                                                                                      type="text"
                                                                                      placeholder=''>
                </div>
                <div class="form-row">
                    <label class="field-label" for="Input">Producent navn*</label><input autofocus="autofocus"
                                                                                                  class="text-field w-input"
                                                                                                  maxlength="256"
                                                                                                  name="Producent-navn"
                                                                                                  type="text"
                                                                                                  placeholder=''>
                </div>
                <div class="form-row">
                    <label class="field-label" for="Input">Ingredienser</label>
                    <textarea
                            class="text-field-area w-input" placeholder=""
                            maxlength="5000"
                            name="Ingredienser">
                </textarea>
                </div>
#}
                <div class="form-row">
                    <input type=file name=file>
                    <input class="submit-btn w-button" type='submit' value='Create'>
                </div>
            </form>
        </div>
    </div>

{% endblock %}